.deals-container .item{
    width: 49%;
}

.deals-container{
    display: flex;
    justify-content: space-between;
    

}
@media screen and (max-width:900px) {
    .deals-container .item{
        width: 100%;
    }
    .deals-container{
        flex-wrap: wrap;
    }
}